{% extends 'layouts/home_base.html' %}
{% load static %}
{% block title %}Success{% endblock %}
{% block content %}
<section class="fxt-template-animation fxt-template-layout loaded" >
    <div class="fxt-shape">
        <div class="fxt-transformX-L-50 fxt-transition-delay-1">
            <img src="{% static 'images/shape1.png' %}" alt="Shape">
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="fxt-column-wrap justify-content-between">
                <div class="fxt-animated-img">
                    <div class="fxt-transformX-L-50 fxt-transition-delay-10">
                        <img src="/static/images/validate_email.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="fxt-column-wrap justify-content-center">
                <div class="fxt-form">
                    <div class="form-container reset-form">
                        <div class="reset-sucess">
                            <h3>
                                <img src="{% static 'images/checked.png' %}" width="25" alt="check"/>Success</h3>
        <p>Your Password has been set successfully!</p>
        <a href='{% url "accounts:login" %}'>
            <div class="btn-field">
                <button
                                        class="fxt-btn-fill"
                                        title="Sign In">Sign IN</button>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
