
{% extends 'layouts/base_email.html' %}
{% load static %}
{% block email_content %}
<table cellpadding="0" cellspacing="0" border="0" width="600" align="center">
    <tbody>
      <tr>
        <td
          style="font-size: 30px;color: #505759; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
          OTP Verification</td>
      </tr>

      <tr>
        <td height="30" bgcolor="#ffffff">&nbsp;</td>
      </tr>

      <tr>
        <td class="start-with-text"
          style="font-size: 18px;line-height: 1.47;color: #484848; font-family: Arial, Helvetica, sans-serif;">
          Dear {{name}},
        </td>
      </tr>

      <tr>
        <td height="20" bgcolor="#ffffff">&nbsp;</td>
      </tr>


      <tr>
        <td class="start-with-text"
          style="font-size: 18px;line-height: 1.47;color: #484848; font-family: Arial, Helvetica, sans-serif;">
          We got a request to verify your Check Emails account.
        </td>
      </tr>

      <tr>
        <td height="20" bgcolor="#ffffff">&nbsp;</td>
      </tr>
      <tr>
        <td class="start-with-text"
          style="font-size: 18px;line-height: 1.47;color: #484848; font-family: Arial, Helvetica, sans-serif;">
          Please enter the following OTP to verify account. Please note this OTP is valid for 15 mins only.</td>
      </tr>
      <tr>
        <td height="20" bgcolor="#ffffff">&nbsp;</td>
      </tr>
      <tr>
          <td>
            <button
              style="width: 176px; cursor: pointer;
              height: 42px;
              border-radius: 4px;
              background-color: #505759; color:#fff;font-weight: bold;font-size:16px; border:0; font-family: Arial, Helvetica, sans-serif;">
              {{ token }}
            </button>
          </td>
      </tr>
      <tr>
        <td height="30" bgcolor="#ffffff">&nbsp;</td>
      </tr>
      <tr>
        <td class="start-with-text"
          style="font-size: 18px;line-height: 1.47;color: #484848; font-family: Arial, Helvetica, sans-serif;">
          If you didn't make this request then you can safely ignore this email.</td>
      </tr>
      <tr>
        <td height="20" bgcolor="#ffffff">&nbsp;</td>
      </tr>
      <tr>
        <td class="start-with-text"
          style="font-size: 18px;line-height: 1.47;color: #484848; font-family: Arial, Helvetica, sans-serif;">
          Thanks,<br />
          The Team at Check Emails</td>
      </tr>
      <tr>
        <td height="50" bgcolor="#ffffff">&nbsp;</td>
      </tr>
    </tbody>
  </table>
  {% endblock %}
