
{% extends 'layouts/base_email.html' %}
{% load static %}
{% block email_content %}
<table cellpadding="0" cellspacing="0" border="0" width="600" align="center">
    <tbody>
      <tr>
        <td
          style="font-size: 30px;color: #505759; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
          Set Your Password</td>
      </tr>

      <tr>
        <td height="30" bgcolor="#ffffff">&nbsp;</td>
      </tr>

      <tr>
        <td class="start-with-text"
          style="font-size: 18px;line-height: 1.47;color: #484848; font-family: Arial, Helvetica, sans-serif;">
          Dear {{name}},
        </td>
      </tr>

      <tr>
        <td height="20" bgcolor="#ffffff">&nbsp;</td>
      </tr>


      <tr>
        <td class="start-with-text"
          style="font-size: 18px;line-height: 1.47;color: #484848; font-family: Arial, Helvetica, sans-serif;">
          The Check Emails Admin has created your account.
        </td>
      </tr>

      <tr>
        <td height="20" bgcolor="#ffffff">&nbsp;</td>
      </tr>
      <tr>
        <td class="start-with-text"
          style="font-size: 18px;line-height: 1.47;color: #484848; font-family: Arial, Helvetica, sans-serif;">
          Please click on the button below to set your password.</td>
      </tr>
      <tr>
        <td height="20" bgcolor="#ffffff">&nbsp;</td>
      </tr>
      <tr>
          <td>
            <a href="{{ protocol }}://{{ domain_name }}{% url 'accounts:set_password' token=token %}" target="_blank">
            <button
              style="width: 176px; cursor: pointer;
              height: 42px;
              border-radius: 4px;
              background-color: #505759; color:#fff;font-weight: bold;font-size:16px; border:0; font-family: Arial, Helvetica, sans-serif;">
              Set Password
            </button>
          </a>
          </td>
      </tr>
      {% if link_stripe|default:False %}
      <tr>
        <td height="20" bgcolor="#ffffff">&nbsp;</td>
      </tr>
      <tr>
        <td class="start-with-text"
          style="font-size: 18px;line-height: 1.47;color: #484848; font-family: Arial, Helvetica, sans-serif;">
          You'll also receive a separate email for linking your bank account details to your Check Emails account using Stripe.
          Please note that it is a mandatory step for receiving funds from your customer subscriptions or payments to your bank account.
          </td>
      </tr>
      {% endif %}
      <tr>
        <td height="30" bgcolor="#ffffff">&nbsp;</td>
      </tr>
      <tr>
        <td class="start-with-text"
          style="font-size: 18px;line-height: 1.47;color: #484848; font-family: Arial, Helvetica, sans-serif;">
          Thanks,<br />
          The Team at Check Emails</td>
      </tr>
      <tr>
        <td height="50" bgcolor="#ffffff">&nbsp;</td>
      </tr>
    </tbody>
  </table>
  {% endblock %}