
{% extends 'layouts/base_email.html' %}
{% load static %}
{% block email_content %}
<table cellpadding="0" cellspacing="0" border="0" width="600" align="center">
    <tbody>
      <tr>
        <td
          style="font-size: 30px;color: #505759; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
          {{ email_header|safe }}</td>
      </tr>

      <tr>
        <td height="30" bgcolor="#ffffff">&nbsp;</td>
      </tr>

      <tr>
        <td class="start-with-text"
          style="font-size: 18px;line-height: 1.47;color: #484848; font-family: Arial, Helvetica, sans-serif;">
          Hello {{ email_user }},
        </td>
      </tr>

      <tr>
        <td height="20" bgcolor="#ffffff">&nbsp;</td>
      </tr>


      <tr>
        <td class="start-with-text"
          style="font-size: 18px;line-height: 1.47;color: #484848; font-family: Arial, Helvetica, sans-serif;">
            {{ description|safe }}
        </td>
      </tr>
      {% if redirect and redirect != "#" %}
      <tr>
        <td class="start-with-text"
          style="font-size: 18px;line-height: 1.47;color: #484848; font-family: Arial, Helvetica, sans-serif;">
            <a href="{{ protocol }}://{{ domain }}{{ redirect }}">Click to go to link</a>
        </td>
      </tr>
      {% endif %}

      <tr>
        <td height="20" bgcolor="#ffffff">&nbsp;</td>
      </tr>
      <tr>
        <td class="start-with-text"
          style="font-size: 18px;line-height: 1.47;color: #484848; font-family: Arial, Helvetica, sans-serif;">
          Thanks,<br />
          The Team at The Check Emails</td>
      </tr>
      <tr>
        <td height="50" bgcolor="#ffffff">&nbsp;</td>
      </tr>
    </tbody>
  </table>
  {% endblock %}
