
{% extends 'layouts/base_email.html' %}
{% load staticfiles %}
{% block email_content %}
<table cellpadding="0" cellspacing="0" border="0" width="600" align="center">
    <tbody>
      <tr>
        <td
          style="font-size: 30px;color: #505759; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">
          Password Change Request</td>
      </tr>

      <tr>
        <td height="30" bgcolor="#ffffff">&nbsp;</td>
      </tr>

      <tr>
        <td class="start-with-text"
          style="font-size: 18px;line-height: 1.47;color: #484848; font-family: Arial, Helvetica, sans-serif;">
          Dear {{name}},
        </td>
      </tr>

      <tr>
        <td height="20" bgcolor="#ffffff">&nbsp;</td>
      </tr>


      <tr>
        <td class="start-with-text"
          style="font-size: 18px;line-height: 1.47;color: #484848; font-family: Arial, Helvetica, sans-serif;">
          This is to notify that a password change is requested by <strong>{{user.first_name}}</strong>.
        </td>
      </tr>

      <tr>
        <td height="20" bgcolor="#ffffff">&nbsp;</td>
      </tr>
      <tr>
        <td class="start-with-text"
          style="font-size: 18px;line-height: 1.47;color: #484848; font-family: Arial, Helvetica, sans-serif;">
          Thanks,<br />
          The Team at Check Emails</td>
      </tr>
      <tr>
        <td height="50" bgcolor="#ffffff">&nbsp;</td>
      </tr>
    </tbody>
  </table>
  {% endblock %}