.dashboard-inline-module{
    display: flex;
    clear: both;
}
.dashboard-column-box {
    width: 33.33%;
    min-height: 90px;
}
@media (max-width: 767px){
    
.dashboard-body {    
    width: calc(100% - 43px);
    /* padding: 20px 40px; */
}
.django-admin-global-sidebar{
    width: 40px;
}
.django-admin-global-sidebar ul li i {
    margin-right: 0;
}
.django-admin-global-sidebar ul li {
    height: 39px;
}
.django-admin-global-sidebar ul li .django-admin-global-sidebar-submenu a {
    padding-left: 20px;
    text-align: left;
}
.django-admin-global-sidebar ul li a {
    padding-left: 0;
    text-align: center;
}
.django-admin-global-sidebar li.on .django-admin-global-sidebar-submenu a {
    padding-left: 20px;
    text-align: left;
}
.django-admin-global-sidebar .django-admin-global-sidebar-submenu li i {
    display: inline-block;
    width: 15px;
    text-align: center;
    margin-right: 10px;
}
.django-admin-global-sidebar .title {
    display: none;
}
.django-admin-global-sidebar li i.django-admin-global-sidebar-submenu-toggle-button {
    display: none;
}
.django-admin-global-sidebar .django-admin-global-sidebar-submenu {
    position: relative;
    display: none !important;
    width: 200px;
    z-index: 9999;
    margin-top: -39px;
    margin-left: 41px;
    box-shadow: 0 2px 8px 0  rgba(121, 174, 200, 0.5), 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.django-admin-global-sidebar li.on .django-admin-global-sidebar-submenu {
    display: block !important;
}
}
@media (min-width: 767px){
    
.nav-sidebar {
    width: 16%;
    min-width: 150px;
}
    .dashboard-body{
        width: calc(84%);
        /* padding: 20px 0 0 40px; */
}
}
.dashboard-box{
    display: flex;
    height: calc(100%);
}
#content{
    margin-top:0 !important;
    margin-left: 0 !important;
}

.sticky {
    position: sticky;
    top: 0;
    max-height: 100vh;
}

.toggle-nav-sidebar {
    z-index: 20;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 23px;
    width: 23px;
    border-right: 1px solid #eaeaea;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    color: #447e9b;
    padding: 0;
}

[dir="rtl"] .toggle-nav-sidebar {
    border-left: 1px solid #eaeaea;
    border-right: 0;
}

.toggle-nav-sidebar:hover,
.toggle-nav-sidebar:focus {
    background-color: #f6f6f6;
}

.nav-sidebar {
    z-index: 15;
    border-top: 1px solid transparent;
    border-right: 1px solid #eaeaea;
    min-width: 42px;
}

[dir="rtl"] .nav-sidebar {
    border-left: 1px solid #eaeaea;
    border-right: 0;
    left: 0;
    margin-left: 0;
}

.toggle-nav-sidebar::before {
    content: '\00BB';
}

.main.shifted .toggle-nav-sidebar::before {
    content: '\00AB';
}

.main.shifted > .nav-sidebar {
    left: 24px;
    margin-left: 0;
}

[dir="rtl"] .main.shifted > .nav-sidebar {
    left: 0;
    right: 24px;
    margin-right: 0;
}

.nav-sidebar .module th {
    width: 100%;
}

.nav-sidebar .module th,
.nav-sidebar .module caption {
    padding-left: 16px;
}

[dir="rtl"] .nav-sidebar .module th,
[dir="rtl"] .nav-sidebar .module caption {
    padding-left: 8px;
    padding-right: 16px;
}

.nav-sidebar .current-app .section:link,
.nav-sidebar .current-app .section:visited {
    color: #ffc;
    font-weight: bold;
}

.nav-sidebar .current-model {
    background: #ffc;
}

@media (max-width: 767px) {
    #toggle-nav-sidebar {
        display: none;
    }
}

.pull-right{
    float:right;
}

.form-row.field-about_us{
    width: calc(100% - 25px);
}
.form-row.field-industry_keyword {
    
    width: calc(100% - 25px) !important;

}
.form-row.field-industry_keyword.readonly{
    width: 45% ;
}
.form-row .vLargeTextField{
    
    width: calc(98%) !important;
    max-width: calc(98%) !important;
    min-width: calc(98%) !important;
}
.form-row .checkbox-row {
    align-items: center;
    height: 72px;
    display: flex;
}
.form-row .checkbox-row .vCheckboxLabel {
    padding-top: 5px;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 100ms ease-in;
	-moz-transition: opacity 100ms ease-in;
	transition: opacity 100ms ease-in;
	pointer-events: none;
	overflow: scroll;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
    overflow: hidden;
}

.modalDialog > div {
	width: 550px;
	position: relative;
	margin: 8% auto;
	padding: 15px 15px 15px 15px;
	border-radius: 5px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #FFFFFF);
	background: -webkit-linear-gradient(#fff, #FFFFFF);
	background: -o-linear-gradient(#fff, #FFFFFF);
	overflow: hidden;
}

.modalclose {
	background: #FFFFFF;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 12px;
	text-align: center;
	top: 10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.modalclose:hover { background: #00d9ff; }


#result_list .column-action_button, #result_list .field-action_button{
    right: 0px;
    position: sticky;
    /* background: #f9f9f9; */
}
#result_list .column-action_button{
    background: #f9f9f9;
}
#result_list .row2 .field-action_button{
    background: #f9f9f9;
}
#result_list .row1 .field-action_button{
    background: #fff;
} 
/* #result_list .field-action_button{
    background: #fff;
}  */

.form-row{
    width: 46%;
}
.form-row.readonly{
    min-height: 47px;
}
.form-row  .vTextField,.form-row  .vIntegerField{
    height: 18px;
    width: 95%;
    min-height: 30px !important;
}
.form-row .related-widget-wrapper select{
    height: 42px;
    width: calc(100%);
    min-height: 30px !important;
}
.form-row .related-widget-wrapper{
    width: 100%;
    min-height: 42px !important;
    display: inline-flex;
    align-items: baseline;
}
.related-widget-wrapper-link.change-related{
    margin-left: 4px;
}
.form-row .select2.select2-container{

    width: inherit !important;
    max-width: calc(100%);
}
.aligned p.file-upload{
    margin-left: 0px !important;
    padding-bottom: 15px;
}
.column-action_button{
    width: 60px;
}
.form-row.first{
    
    float: left;
}
.form-row.field-errors.readonly.first{
    width: 100%;
}
.form-row.second{
    
    float: right;
}
.form-row label{
    font-weight: 600;
}
fieldset .form-row label{
    width:100%;
}
.select2-container--admin-autocomplete .select2-selection--single .select2-selection__rendered{
    line-height: 38px !important;
}
.select2-container--admin-autocomplete .select2-selection--single .select2-selection__arrow{
    height: 36px !important;
}
.select2-container--admin-autocomplete.select2-container--focus .select2-selection{
    min-height: 40px !important;
    height: 40px !important;
}
.select2-container--admin-autocomplete .select2-selection--single{
    min-height: 40px !important;
}
.aligned label + p, .aligned label + div.help, .aligned label + div.readonly{
    margin-left: 0px;
}
.aligned .form-row  div.help{
    text-align: end;
}
.admin-sort-ghost td {
    font-size: 15px !important;
    font-weight: 600;
}
.admin-sort-ghost{

    background-color: whitesmoke;
}
#result_list div.drag{
    background: url(../../images/drag.jpg) center/1em auto no-repeat;
    cursor: pointer;
}
.form-row.readonly div{
    padding: 12px 0;
}
.loginlink{
    padding-left: 16px;
    background: url(../../images/icon-locklink.svg) 0 1px no-repeat;
}
.dashboard-column {
    min-height: 131px;
    min-width: 144px;
}
.dashboard-module h2 {
    background: #7daec7 !important;
    color: #fffff6 !important;
}
.dashboard-module {
    border: 1px solid #6492ab !important;
}