{% extends 'home.html' %}
{% load static mathfilters %}
{% load humanize %} 

{% block titlename %}Email List{% endblock %}
    {% block common_css %}
    <!-- Bootstrap Css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    <link  rel="stylesheet" type="text/css" href='{% static "assets/css/common-style.css" %}'></link>
  
  
  <link href="{% static 'assets/css/email-validation.css' %}" rel="stylesheet" />
  <link type="text/css" rel="stylesheet" href="{% static 'assets/css/multiple-emails.css' %}" />
  {% endblock %}

{% block bodyclass %}search_emails{% endblock %}

    


{% block content %}
<div class="main-content">

  <div class="page-content">
      <div class="container-fluid">


  <div class="row col-md-12 page-content-div justify-content-md-center">
    

  <div class="col-md-8 mt-5">
    <div class=" email-search mb-4">
        <a href="{% url 'emailtool:email_check_list' %}" class="btn btn-soft-secondary btn-lg mb-3"> <i class="mdi mdi-arrow-left ms-1"></i></a>
    <form  method="POST" action="." class="col-md-12 position-relative">
      
        {% csrf_token %}
        
       <div class="multiple_emails-container">
           {{ formset.management_form }}
           {% for form in formset %}
           <div class="row form-set col-md-12 text-center justify-content-between">
            <div class="col-md-11">
               <div class="input-group mb-3">
                {{form.firstname}}
                {{form.lastname}}
                <span class="input-group-text">@</span>
                {{form.domain}}
              </div>

               
            </div>
            <div class="col-md-1">
            <button type="button" class="btn btn-success add-form-row"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"/></svg></button>
            </div>
{% endfor %}
</div>
    <div class="w-100 text-end">
        <button type="submit" class="btn btn-block btn-primary">Submit</button>
    </div>
        
      </form>
      <!-- Tab content -->
      

    </div>
</div>
</div>
</div>
</div>
{% endblock %}
{% block extrajs %}
<script src="{% static 'assets/js/multiformset.js' %}"></script>
{% endblock %}